// _homepage.scss

$font-poppins: var(--font-poppins);
$font-barlow: var(--font-barlow);
$font-playfair: var(--font-playfair);
$color-light: #758398;


.HomePageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-poppins;
  min-height: 1250px;
  width: 100%;
  overflow-x: hidden;

  // Background gradient styles
  .BackgroundGradient {
    background-image: url('../public/grad.svg');
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    opacity: 0.3;
    position: absolute;
    background-repeat: no-repeat;
    background-position: top right;
    transition: background 0.3s;
    background-size: 40vw auto;


    @media (min-width: '768px') and (max-width: '1240px') {
      background-size: 550px auto;
    }

    @media (max-width: '768px') {
      background-size: 360px auto;
    }
  }


  // Content styles
  .Content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;

    @media (max-width: '768px') {
      flex-direction: column-reverse;
      padding: 0;
      width: 100%;
    }
  }

  // Left side styles
  .LS {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    @media (max-width: '768px') {
      width: 100%;
      justify-content: start;
      padding: 0 1rem;
    }
  }

  // Right side styles
  .RS {
    width: 50%;
    display: flex;
    align-items: center;

    @media (max-width: '768px') {
      width: 100%;
      justify-content: center;
    }

    img {
      border-radius: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  // ImageWrap styles
  .ImageWrap {
    width: 80%;
    position: relative;
    margin-bottom: 50px;


    @media (min-width: '768px') and (max-width: '1240px') {
      padding-top: 0;
    }

    @media (max-width: '768px') {
      width: 100%;
      max-width: 400px;
    }
  }


  // SubTitle styles
  .SubTitle {
    font-family: $font-playfair;
    color: $color-light;
    margin-bottom: 100px;
    font-size: clamp(22px, 2.419vw, 35px);

    @media (max-width: '768px') {
      margin-bottom: 50px;
    }
  }

  // PreTitle styles
  .PreTitle {
    height: fit-content;
    color: $color-light;
    font-family: $font-barlow;
    font-weight: 500;
  }

  // Divider styles
  .Divider {
    border-bottom: 2px solid $color-light;
    height: 2px;
    width: 60px;
    margin: 15px 0 30px 0;
  }


  // Title styles
  .Title {
    font-size: clamp(45px, 5.145vw, 64px);
    font-family: $font-playfair;
    margin: 0;
  }

  // Contact styles
  .Contact {
    font-size: 20px;
    font-family: $font-barlow;
    display: flex;
    cursor: pointer;
    gap: 30px;
    align-items: flex-end;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    z-index: 1200;
    text-decoration: none;
    align-items: center;
  }

  @media (max-width: '768px') {
    align-items: center;
    min-height: 1200px;

  }

  @media (min-width: '768px') and (max-width: '1240px') {
    align-items: center;
    min-height: 1250px;
  }

  .AboutMe {
    width: 100%;
    margin: 40px auto 80px;
    max-width: 1100px;
    padding: 0;

    @media (max-width: '768px') {
      padding: 0;
    }

    .Summary {
      font-size: clamp(28px, 3.871vw, 48px);
      font-family: $font-playfair;
      margin: 0;
    }

    .Columns {
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      gap: 20px;

      @media (max-width: '768px') {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
      }
    }

    .SummaryTitle {
      font-size: clamp(24px, 2.823vw, 35px);
      font-family: $font-playfair;
      width: 50%;
      color: $color-light;

      @media (max-width: '768px') {
        width: 100%;
      }
    }

    .Column {
      font-size: 18px;

      width: 50%;
      padding-top: 8px;
      font-family: $font-barlow;
      font-weight: 400;
      line-height: 2em;

      @media (max-width: '768px') {
        width: 100%;
      }
    }

  }
}

.Hero {
  // min-height: calc(100vh - 225px);
  margin-top: 150px;

  @media (max-width: '768px') {
    margin-top: 50px;
    // min-height: calc(100vh - 125px);

  }
}

.flex {
  display: flex;
  flex-direction: column;
}