// styles/_nav.scss

$font-barlow: var(--font-barlow);

.navWrapper {
  height: 75px;
  position: sticky;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1240px;
  margin-inline: auto;
  height: 75px;
}

.logo-wrapper {
  height: 50px;
  width: 317px;
  margin-top: 15px;

  @media(max-width: '768px') {
    height: 50px;
    width: 190px;
    margin: 10px;
  }
}

.page-link {
  text-transform: uppercase;
  height: fit-content;
  font-family: $font-barlow;
  padding-right: 40px;
  text-decoration: none;
  font-weight: 400;
  color: black;

  &:hover {
    color: blue;
  }

}

.hamburger-wrapper {
  display: block;
  width: fit-content;
  padding-top: 10px;

  @media(min-width: 768px) {
    display: none;
  }
}

.mobile-nav-list {
  font-weight: bolder;
  height: 50vh;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  position: relative;
  top: 60px;
  padding: 20px;
  background: white;
  position: absolute;
  flex-direction: column;
  list-style-type: none;
  font-family: $font-barlow;
}

.desktop-nav-list {
  padding-top: 10px;
  display: none;
  right: 10%;
  list-style-type: none;

  @media(min-width: 768px) {
    display: flex;
  }
}