@import 'homepage';
@import 'hamburgers';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

figure {
    margin: 0;
}

.w-100 {
    width: 100%;
}

main {
    margin-top: 75px;
}

@media print {
    .nav-header,
    footer {
        display: none !important;
    }

    main {
        margin-top: 0 !important;
    }
}
